/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: auto;
  align-items: center;
  justify-content: center;
  background-image: url('/static/images/USERS_PROYECTOS/Users_Lista_Proyectos/Lista_Proyectos.png');
  background-repeat: auto;
}

/* ------------- NAVAR ----------------- */
.navbar {
  width: 100%;
  background-color: #6300cd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0;
}

.navbar-brand img {
  width: 150px;
  height: 50px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  padding-left: 55px;
}

.navbar-item a {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #dacf04;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #eeeeee;
}

.navbar-item.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------------------------------- */
.table-productos {
  background-color: white;
  border-collapse: collapse;
  margin: auto;
  width: 90%;
  border: 2px solid #6300cd;
}

.table-productos th {
  text-align: center;
  padding: 5px;
  border: 2px solid #6300cd;
  width: 5%;
  color: #6300cd;

}

.table-productos td {
  text-align: center;
  padding: 2px;
  border: 2px solid #6300cd;
  vertical-align: middle;
}


/* ---------------- Tabla Porcentaje cumplimiento  ----------------- */
.table-porcentaje-cum {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  background-color: #ffffff;
}

.table-porcentaje-cum th,
.table-porcentaje-cum td {
  border: 2px solid #6300cd;
  padding: 8px;
  text-align: left;
}

.table-porcentaje-cum th {
  background-color: #ffffff;
}

.table-porcentaje-cum .avance-row div {
  margin-bottom: 5px;
}


/* ------- Para dividir en mas lineas el link  -------- */

.producto-link {
  color: #000000;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

/*----------------------------------------------------------------------------------------------------*/
/* RESPONSIVE */

/*Configuracion Especial*/
@media (max-width: 968px) {
  .navbar-item {
    padding-left: 5px;
  }

  .navbar-item a {
    padding: 13px;
    font-size: 14px;
  }

  .table-productos {
    background-color: white;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    border: 1px solid #6300cd;
    font-size: 9px;
  }
  .table-productos th {
    text-align: center;
    padding: 3px;
    border: 1px solid #6300cd;
    width: 5%;
    color: #6300cd;

  }
  .table-productos td {
    text-align: center;
    padding: 2px;
    border: 1px solid #6300cd;
    vertical-align: middle;
  }
  .table-productos .btn {
    font-size: 10px;
    padding: 4px 4px;
  }


  .table-porcentaje-cum {
    width: 100%;
    font-size: 6px;
    border: 1px solid #6300cd;
  }
  .table-porcentaje-cum th,
  .table-porcentaje-cum td {
    padding: 3px;
    border: 1px solid #6300cd;
  }

}

@media (max-width: 360px) {
  .navbar-item {
    padding-left: 5px;
  }

  .navbar-item a {
    padding: 13px;
    font-size: 14px;
  }

  .table-productos {
    background-color: white;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    border: 1px solid #6300cd;
    font-size: 7px;
  }
  .table-productos th {
    text-align: center;
    padding: 2px;
    border: 1px solid #6300cd;
    width: 5%;
    color: #6300cd;

  }
  .table-productos td {
    text-align: center;
    padding: 2px;
    border: 1px solid #6300cd;
    vertical-align: middle;
  }
  .table-productos .btn {
    font-size: 8px;
    padding: 3px 3px;
  }


  .table-porcentaje-cum {
    width: 100%;
    font-size: 4px;
    border: 1px solid #6300cd;
  }
  .table-porcentaje-cum th,
  .table-porcentaje-cum td {
    padding: 2px;
    border: 1px solid #6300cd;
  }
}

@media (max-width: 290px) {
  .navbar-item {
    padding-left: 5px;
  }

  .navbar-item a {
    padding: 11px;
    font-size: 11px;
  }

  .table-productos {
    background-color: white;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    border: 1px solid #6300cd;
    font-size: 5px;
  }
  .table-productos th {
    text-align: center;
    padding: 2px;
    border: 1px solid #6300cd;
    width: 5%;
    color: #6300cd;

  }
  .table-productos td {
    text-align: center;
    padding: 2px;
    border: 1px solid #6300cd;
    vertical-align: middle;
  }
  .table-productos .btn {
    font-size: 8px;
    padding: 3px 3px;
  }


  .table-porcentaje-cum {
    width: 100%;
    font-size: 4px;
    border: 1px solid #6300cd;
  }
  .table-porcentaje-cum th,
  .table-porcentaje-cum td {
    padding: 2px;
    border: 1px solid #6300cd;
  }

}


/*Reducir/Aumentar - Navbar*/
@media (max-width: 1280px) {
  .navbar-item {
    padding-left: 0px;
  }
}

@media (min-width: 1920px) {
  .navbar-item {
    padding-left: 150px;
  }
}

/*----------------------------------------------------------------------------------------------------*/