<!-- avance_estado_1.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Breadcrumb -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/USERS_PROYECTOS/Breadcrumbs/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/USERS_PROYECTOS/Users_Lista_Proyectos/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>SeedResearchTool</title>

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-brand" href="{% url 'Users:Users_home' %}">
                <img src="{% static 'images/USERS_PROYECTOS/Users_Lista_Proyectos/Proyectos_Logo.png' %}" alt=""
                    style="width: 240px; height: 60px;">
            </a>
        </div>
        <ul class="navbar-menu">
            {% if user.is_authenticated and not user.usuario_administrador %}
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Users:Users_home' %}"><strong>HOME</strong></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Proyectos:lista_proyectos' %}"><strong>PROYECTOS</strong></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Proyectos:crear_proyecto' %}"><strong>CREAR PROYECTO</strong></a>
            </li>
            {% endif %}
        </ul>

        <ul class="navbar-menu ml-auto">
            {% if user.is_authenticated and not user.usuario_administrador %}
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Users:Users_ver_perfil' %}"><strong>PERFIL</strong></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Users:logout' %}"><strong>CERRAR SESION</strong></a>
            </li>
            {% else %}
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Users:Users_login' %}"><strong>INICIAR SESION</strong></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link"
                    href="{% url 'Users:Users_consultar_identificacion' %}"><strong>REGISTRARSE</strong></a>
            </li>
            {% endif %}
        </ul>
    </nav>


    <!-- Breadcrumb -->
    <div class="wrapper">
        <ol class="breadcrumbs breadcrumbs--one" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Users:Users_home' %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">home</i>
                        <span>INICIO</span>
                    </span>
                </a>
                <meta itemprop="position" content="1" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Proyectos:lista_proyectos' %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">cases</i>
                        <span>PROYECTOS</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Proyectos:opciones_proyecto' proyecto.id %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">widgets</i>
                        <span>ACCIONES</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Proyectos:portafolio_actividades' proyecto.id %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">receipt_long</i>
                        <span>PORTAFOLIO ACTIVIDADES</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>


            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">add_chart</i>
                        <span>AGREGAR EVIDENCIAS N°3</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>

    <!-- Modal Confirmar -->
    <div class="modal fade" id="combinedModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="combinedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="combinedModalLabel"><strong>Agregar Evidencias N°3 - Final</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>¿ Seguro desea realizar esta acción ?</p></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="guardarCambiosBtn" >Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="text-center my-5">
        <hr>
        <h2>Informe de Evidencias Nº3 - Final</h2>
        <hr>
    </div>



    <main class="container">

        <hr>
        <p><strong>. De una breve descripción.</strong></p>
        <p><strong>. Adjunte la evidencia o envíe el link de acceso.</strong></p>
        <hr>
        <br>

        <form method="POST" enctype="multipart/form-data" id="avance_3_Form">
            
            {% csrf_token %}
            <div class="form-group">
                <label for="avance_descripcion"><strong>Descripción:</strong></label>
                <textarea class="form-control" id="avance_descripcion" name="avance_descripcion" rows="3" required></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="avance_link"><strong>Link:</strong></label>
                <input type="text" class="form-control" id="avance_link" name="avance_link" required pattern="https?://[^\s]+" title="Ingrese una URL válida">
            </div>        
            <br>
            <div class="form-group">
                <label for="avance_adjunto"><strong>Adjunto -- Evidencia:</strong></label>
                <input type="file" class="form-control-file" id="avance_adjunto" name="avance_adjunto">
            </div>
            <br>
            <a href="{% url 'Proyectos:portafolio_actividades' proyecto.id %}" class="btn btn-secondary">Cancelar</a>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#combinedModal">Guardar</button>
        </form>
        <br>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SCRIPT - Modal Confirmacion -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const guardarCambiosBtn = document.getElementById("guardarCambiosBtn");
            const avance_3_Form = document.getElementById("avance_3_Form");

            let isSubmitting = false; // Variable para rastrear si el formulario se está enviando

            guardarCambiosBtn.addEventListener("click", function (event) {
                event.preventDefault(); // Evita que el formulario se envíe automáticamente

                if (isSubmitting) {
                    return; // Si ya se está enviando el formulario, no hacer nada
                }

                if (avance_3_Form.checkValidity()) {
                    isSubmitting = true; // Se está enviando el formulario
                    guardarCambiosBtn.disabled = true; // Deshabilita el botón mientras se procesa

                    const formData = new FormData(avance_3_Form);

                    fetch("{% url 'Proyectos:avance_estado_3' proyecto.id producto.id %}", {
                        method: "POST",
                        body: formData
                    })
                    .then(data => {
                        console.log(data);

                        // Cerrar el modal
                        const modal = new bootstrap.Modal(document.getElementById("combinedModal"));
                        modal.hide();

                        // Redirigir después de cerrar el modal
                        window.location.href = "{% url 'Proyectos:portafolio_actividades' proyecto.id %}";
                    })
                    .catch(error => {
                        console.error("Error al enviar los datos:", error);
                    })
                    .finally(() => {
                        isSubmitting = false; // Restaurar el estado después de completar la solicitud
                        guardarCambiosBtn.disabled = false; // Habilitar el botón nuevamente
                    });
                } else {
                    avance_3_Form.reportValidity(); // Mostrar mensajes de validación del formulario
                }
            });
        });
    </script>

</body>
</html>