<!-- ver_evidencias_1.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Breadcrumb -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/USERS_PROYECTOS/Breadcrumbs/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/USERS_PROYECTOS/Users_Lista_Proyectos/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>SeedResearchTool</title>

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-brand">
            <a class="navbar-brand" href="{% url 'Users:Users_home' %}">
                <img src="{% static 'images/USERS_PROYECTOS/Users_Lista_Proyectos/Proyectos_Logo.png' %}" alt="" style="width: 240px; height: 60px;">
            </a>
        </div>

        <button style="color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span  class="navbar-toggler-icon" style="color: white;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-menu">
                {% if user.is_authenticated and not user.usuario_administrador %}
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'Users:Users_home' %}">HOME</a>
                </li>
                <li class="navbar-item dropdown">
                    <a class="nav-link" href="#">PROYECTOS</a>
                    <div class="dropdown-content">
                        <a class="text-center" href="{% url 'Proyectos:crear_proyecto' %}">Crear Proyecto</a>
                        <a class="text-center" href="{% url 'Proyectos:lista_proyectos' %}">Lista de Proyectos</a>
                    </div>
                </li>
                <li class="navbar-item dropdown">
                    <a class="nav-link" href="#">SEMILLEROS</a>
                    <div class="dropdown-content">
                        <a class="text-center" href="{% url 'Semilleros:crear_semillero' %}">Crear Semillero</a>
                        <a class="text-center" href="{% url 'Semilleros:lista_semilleros' %}">Lista de Semilleros</a>
                    </div>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-menu ml-auto">
                {% if user.is_authenticated and not user.usuario_administrador %}
                <li class="navbar-item dropdown">
                    <a class="nav-link" href="#">GRUPOS INVESTIGACION</a>
                    <div class="dropdown-content">
                        <a class="text-center" href="{% url 'Users:Users_ver_grupos' %}">Ver Grupos</a>
                        <a class="text-center" href="{% url 'Users:Users_editar_grupos_investigacion' %}">Editar
                            Grupos</a>
                    </div>
                </li>
                <li class="navbar-item dropdown">
                    <a class="nav-link" href="#">PERFIL</a>
                    <div class="dropdown-content">
                        <a class="text-center" href="{% url 'Users:Users_ver_perfil' %}">Ver Perfil</a>
                        <a class="text-center" href="{% url 'Users:Users_editar_perfil' %}">Editar Perfil</a>
                    </div>
                </li>
                <li class="navbar-item">
                    <a class="nav-link fa" style="font-size:26px;" href="{% url 'Users:logout' %}">&#xf011;</a>
                </li>
                {% else %}
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'Users:Users_login' %}">INICIAR SESION</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'Users:Users_consultar_identificacion' %}">REGISTRARSE</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <!-- Breadcrumb -->
    <div class="wrapper">
        <ol class="breadcrumbs breadcrumbs--one" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Users:Users_home' %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">home</i>
                        <span></span>
                    </span>
                </a>
                <meta itemprop="position" content="1" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Proyectos:lista_proyectos' %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">cases</i>
                        <span>PROYECTOS</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Proyectos:opciones_proyecto' proyecto.id %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">widgets</i>
                        <span>ACCIONES</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="{% url 'Proyectos:portafolio_actividades' proyecto.id %}" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">receipt_long</i>
                        <span>PORTAFOLIO</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb" href="" itemprop="item">
                    <span itemprop="name">
                        <i class="material-icons" aria-hidden="true">feed</i>
                        <span>EVIDENCIA N°1</span>
                    </span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>


    <br>
    <div class="text-center my-5">
    <hr>
    <h2>Informe Evidencias Nº 1</h2>
    <hr>
    </div>
    <br>

    <main class="container">
        {% if evidencias %}
            {% for evidencia in evidencias %}

                <h5><strong>Fecha: </strong>{{ evidencia.avance_1_fecha }}</h5>
                <br>
                {% if evidencia.avance_1_nombre %}
                    <h5><strong>Nombre: </strong>{{ evidencia.avance_1_nombre }}</h5>
                    <br>
                {% endif %}

                {% if evidencia.avance_1_descripcion %}
                    <h5><strong>Descripción: </strong>{{ evidencia.avance_1_descripcion }}</h5>
                    <br>
                {% endif %}

                {% if evidencia.avance_1_link%}
                    <div class="producto-link">
                        <h5><strong>Link: </strong>{{ evidencia.avance_1_link }}</h5>
                    </div>
                    <br>
                {% endif %}

                {% if evidencia.avance_1_adjunto %}
                    <h5><strong>Adjunto: </strong><a href="{{ evidencia.avance_1_adjunto.url }}">Descargar adjunto</a></h5>
                    <br>
                {% endif %}

                <div class="container-c-p-2">
                    {% if evidencia.avance_1_estado == 'No Revisado' %}
                        <h3><strong>Estado: </strong><strong style="color: orange;">{{ evidencia.avance_1_estado }}</strong></h3>
                        <br>
                    {% endif %}
                    {% if evidencia.avance_1_estado == 'Correcciones Requeridas' %}
                        <h3><strong>Estado: </strong><strong style="color: red;">{{ evidencia.avance_1_estado }}</strong></h3>
                        {% if evidencia.avance_1_correcciones_realizadas %}
                            <h4><strong>Atendio las observaciones: </strong>SI</h4>
                        {% else %}
                            <h4><strong>Atendio las observaciones: </strong>NO</h4>
                        {% endif %}
                        <h4><strong>Observaciones: </strong>{{ evidencia.avance_1_observacion }}</h4>
                        <br>
                    {% endif %}
                    {% if evidencia.avance_1_estado == 'Aceptado' %}
                        <h4><strong>Estado: </strong><strong style="color: green;">{{ evidencia.avance_1_estado }}</strong></h3>
                        <br>
                    {% endif %}
                </div>
                <br>
                
                <a href="{% url 'Proyectos:portafolio_actividades' proyecto.id %}" class="btn btn-secondary">Volver</a>
                <a href="{% url 'Proyectos:avance_estado_1_editar' proyecto_id=evidencia.proyecto.id producto_id=evidencia.producto.id evidencia_id=evidencia.id %}" class="btn btn-dark">Editar</a>
                <hr>

            {% endfor %}
            
        {% else %}
            <h5>No se encontraron evidencias.</h5>
        {% endif %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
