/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: auto;
  align-items: center;
  justify-content: center;
  background-image: url('/static/images/USERS/Users_Login/Registro_Exitoso_Gif.gif');
  background-repeat: repeat;
}


/* ------------------------------ */
.custom-text-G {
  font-size: 20px;
  margin-top: 5px;
}

.custom-text-L {
  font-size: 20px;
}

.custom-text-L-1 {

  font-size: 16px;
  margin-top: 5px;
  display: block;
}

.custom-text-info {
  font-size: 20px;
  margin-top: 10px;
  display: block;

  color: #000000;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.text-center {
  text-align: center;
}


/* ------------- NAVAR ----------------- */
.navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  
}

.navbar-brand img {
  width: 150px;
  height: 50px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  padding-left: 55px;
}

.navbar-item a {
  padding: 15px;
  color: #101010;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #004f62;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #eeeeee;
}

.navbar-item.dropdown:hover .dropdown-content {
  display: block;
}

.ajuste-izquierda {
  margin-left: 30px;
}

/*--------------------------------------------------*/
.custom-container {
  max-width: 50%;
  margin: 0 auto;
}

.container-g-l {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-g-l-1 {
  background-color: #c9e6ee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ------------------------------ */
.button-container {
  text-align: center;
  margin-top: 10px;
}

.button-container .btn {
  float: left;
}


.button-container .btn {
  float: left;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}

.button-container .btn:hover {
  background-color: #5394a7;
  color: #ffffff;
}

.content-container p {
  margin-bottom: 30px;
}

.imagen-grupo {
  border: 5px solid #ffffff;
  width: 20%;
  height: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}


/*----------------------------------------------------------------------------------------------------*/
/* RESPONSIVE */
/*Configuracion Especial*/
@media (max-width: 968px) {
  .navbar-item {
    padding-left: 0px;
  }

  .custom-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .custom-text-info {
    font-size: 15px;
  }

  .navbar-item a {
    padding: 13px;
    font-size: 14px;
  }

  .imagen-grupo {
    border: 5px solid #ffffff;
    width: 50%;
    height: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
  }
}



/*Reducir/Aumentar - Navbar*/
@media (max-width: 1280px) {
  .navbar-item {
    padding-left: 0px;
  }

  .imagen-grupo {
    border: 5px solid #ffffff;
    width: 40%;
    height: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
}
@media (min-width: 1920px) {
  .navbar-item {
    padding-left: 150px;
  }
}
/*----------------------------------------------------------------------------------------------------*/