/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('/static/images/USERS_SEMILLEROS/Users_Crear_Semillero/');
    background-repeat: no-repeat;
    background-size: 50%;
  }


/* ------------- NAVAR ----------------- */
.navbar {
  background-color: #1300fd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 9999;
}

.navbar-brand img {
  width: 150px;
  height: 50px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item a {
  padding: 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #c0aa02;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #eeeeee;
}

.navbar-item.dropdown:hover .dropdown-content {
  display: block;
}

.ajuste-izquierda {
  margin-left: 20px;
}
/* ------------------------------------- */

  
/* -------------- CARDS --------------- */
.card-title {
    color: #fff;
}


/* ------------------------------------- */

/* Estilos para el campo "Grupo Investigacion" */
.mb-3 label[for="id_grupo_investigacion"] {
    font-weight: bold;
    color: #333;
}

.mb-3 select#id_grupo_investigacion {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #9c9b9b;
}

/* Estilos para el campo "Linea Investigacion" */
.mb-3 label[for="id_linea_investigacion"] {
    font-weight: bold;
    color: #333;
}

.mb-3 select#id_linea_investigacion {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

/* ------------------------------------- */
.container-c-p {
    background-color: #1300fd; /* Color de fondo deseado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-c-p-1 {
    background-color: #f2f2f1; /* Color de fondo deseado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-c-p-2 {
    background-color: #dcdcdc; /* Color de fondo deseado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-c-p h2.card-title,
.container-c-p h6.card-title {
    color: #fff; /* Color blanco */
}

/* ------------------------------------- */

/* Estilos para el contenedor de las actividades */
.card.mb-4 {
    background-color: #1300fd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título de las actividades */
.card.mb-4 h2.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Estilos para el subtítulo de las actividades */
.card.mb-4 h6.card-title {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/* ------------------------------------- */

/* Estilos para los campos de entrada en actividades */
.card.mb-4 input[type="text"],
.card.mb-4 textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

.card.mb-4 textarea {
  resize: vertical; /* Permite redimensionar verticalmente el textarea */
}

/* Estilos para las etiquetas (labels) en actividades */
.card.mb-4 label {
  font-weight: bold;
  color: #333;
}

/* ------------------------------------- */
.btn-actividad {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #1300fd; /* Color de fondo deseado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .btn-actividad:hover {
    background-color: #ffffff; /* Color de fondo deseado al pasar el cursor */
    color: #1300fd;
  }
  
/* ------------------------------------- */

.firmas {
  display: flex;
}

.firma-estudiante {
  flex: 1; 
  margin-right: 30px;
}

.firma-docente {
  flex: 1;
}

.posicion {
  display: flex;
}
.posicion-derecha {
  flex: 1; 
  margin-left: 50%;
}


/* ------------------------------------- */
  
/* Seccion de Acciones Semilleros */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #6300cd;
}

article a:focus {
  outline: 1px dotted #6300cd;
}

article a .icon {
  min-width: 24px;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #6300cd;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}


@media (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*-------------------------------------------------*/