/* ------------- NAVAR ----------------- */
.navbar {
  width: 100%;
  background-color: #6300cd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0;
}

.navbar-brand img {
  width: 150px;
  height: 50px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  padding-left: 55px;
}

.navbar-item a {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #dacf04;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #eeeeee;
}

.navbar-item.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------------------------------- */

body {
  background-image: url('/static/images/USERS_PROYECTOS/Users_Lista_Proyectos/Lista_Proyectos.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 900px;
  /* El ancho máximo que deseas para el contenido */
  margin: 0 auto;
  /* Esto centrará el contenedor en la página */
  padding: 20px;
  /* Agrega espacios alrededor del contenido si lo deseas */
}

.producto {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.no-margin p {
  margin: 0;
  font-size: 16px;
}

.my-table {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
}

.my-table th,
.my-table td {
  text-align: center;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.centered-title {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  flex: 1;
}

.download-button {
  order: -1;
  background-color: rgb(123, 0, 255); 
  color: rgb(255, 255, 255); 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 20px; 
  margin-right: 20px;
}

.delete-button {
  background-color: red; 
  color: rgb(255, 255, 255); 
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  font-size: 20px;
  margin-right: 20px;
}

.container-g-l {
  background-color: #6300cd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-g-l-1 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-g-l-1-1 {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------*/
.producto-link {
  color: #000000;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.producto-descripcion {
  color: #000000;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.table-cronograma {
  width: 100%; /* Haz que la tabla ocupe todo el ancho disponible */
  margin-left: 5px; /* Elimina el margen izquierdo */
  margin-right: 5px; /* Elimina el margen derecho */
}

/*-------------------------------------------*/
/* RESPONSIVE */

/*Configuracion Especial*/
@media (max-width: 968px) {

  body {
    background-image: url('/static/images/USERS_PROYECTOS/Users_Lista_Proyectos/Lista_Proyectos.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar-item {
    padding-left: 5px;
  }

  .table-cronograma {
    width: 100%; /* Haz que la tabla ocupe todo el ancho disponible */
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
  }
  .table-cronograma th,
  .table-cronograma td {
    font-size: 11px; /* Reduce el tamaño de fuente para adaptarse a pantallas más pequeñas */
    padding: 0px; /* Aumenta el espaciado interno para que el contenido sea más legible */
  }


  .table-productos {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 60%;
  }
  .table-productos th,
  .table-productos td {
    font-size: 70%;
    padding: 0px;
  }


  .table-evidencias {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 8px;
  }
  .table-evidencias th,
  .table-evidencias td {
    font-size: 8px;
    padding: 0px;
  }

  .download-button {
    order: -1;
    background-color: rgb(123, 0, 255); 
    color: rgb(255, 255, 255); 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 10px; 
    margin-right: 5px;
  }
  
  .delete-button {
    background-color: red; 
    color: rgb(255, 255, 255); 
    padding: 5px 10px;
    border: none; 
    border-radius: 5px; 
    font-size: 10px;
  }
  
}
@media (max-width: 968px) {

  .navbar-item {
    padding-left: 5px;
  }

  .table-cronograma {
    width: 100%; /* Haz que la tabla ocupe todo el ancho disponible */
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
  }
  .table-cronograma th,
  .table-cronograma td {
    font-size: 10px; /* Reduce el tamaño de fuente para adaptarse a pantallas más pequeñas */
    padding: 0px; /* Aumenta el espaciado interno para que el contenido sea más legible */
  }


  .table-productos {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 50%;
  }
  .table-productos th,
  .table-productos td {
    font-size: 50%;
    padding: 0px;
  }


  .table-evidencias {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 7px;
  }
  .table-evidencias th,
  .table-evidencias td {
    font-size: 7px;
    padding: 0px;
  }

  .download-button {
    order: -1;
    background-color: rgb(123, 0, 255); 
    color: rgb(255, 255, 255); 
    padding: 4px 8px; 
    border: none; 
    border-radius: 4px; 
    font-size: 8px; 
    margin-right: 8px;
  }
  
  .delete-button {
    background-color: red; 
    color: rgb(255, 255, 255); 
    padding: 4px 8px;
    border: none; 
    border-radius: 4px; 
    font-size: 8px;
  }

  .navbar-item a {
    padding: 13px;
    font-size: 14px;
  }
  
}


/*Reducir/Aumentar - Navbar*/
@media (max-width: 1280px) {
  .navbar-item {
    padding-left: 0px;
  }
}
@media (min-width: 1920px) {
  .navbar-item {
    padding-left: 150px;
  }
}