
<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <div class="form-group">
            <label for="nombre_semillero"><strong>Nombre de Semillero: *</strong></label>
            {{ form.nombre_semillero }}
        </div>

        <input type="hidden" name="facultad" value="{{ form.facultad.value }}">
        <input type="hidden" name="programa" value="{{ form.programa.value }}">
    
        <div class="form-group"></div>
        <div class="mb-3">
            <label class="form-label"><strong>Grupo Investigacion: *</strong></label>
            {{ form.grupo_investigacion }}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Linea Investigacion: *</strong></label>
            {{ form.linea_investigacion }}
        </div>
        </div>
    
        <div class="form-group">
        <label for="tematica_estudio"><strong>Tematica de Estudio *</strong></label>
        {{ form.tematica_estudio }}
        </div>

        <div class="form-group">
        <label for="justificacion_semillero"><strong>Justificacion Semillero *</strong></label>
        {{ form.justificacion_semillero }}
        </div>
    
        <div class="form-group">
        <label for="nombre"><strong>Nombre *</strong></label>
        {{ form.nombre }}
        </div>
    
        <div class="form-group">
        <label for="identificacion"><strong>Identificacion *</strong></label>
        {{ form.identificacion }}
        </div>
    
        <div class="form-group"></div>
        <label for="telefono"><strong>Telefono *</strong></label>
        {{ form.telefono }}
        </div>
        
        <div class="form-group">
        <label for="correo"><strong>Correo *</strong></label>
        {{ form.correo }}
        </div>
    
        <div class="form-group">
        <label for="nivel_formacion"><strong>Nivel de Formacion *</strong></label>
        {{ form.nivel_formacion }}
        </div>
    
        <div class="form-group">
        <label for="nivel_ingles_habla"><strong>Nivel de Ingles (Habla) *</strong></label>
        {{ form.nivel_ingles_habla }}
        </div>
    
        <div class="form-group">
        <label for="nivel_ingles_lee"><strong>Nivel de Ingles (Lee) *</strong></label>
        {{ form.nivel_ingles_lee }}
        </div>
    
        <div class="form-group">
        <label for="nivel_ingles_entiende"><strong>Nivel de Ingles (Entiende) *</strong></label>
        {{ form.nivel_ingles_entiende }}
        </div>

        <div class="form-group">
            <label for="nivel_ingles_escribe"><strong>Nivel de Ingles (Escribe) *</strong></label>
            {{ form.nivel_ingles_escribe }}
        </div>

        <!-- ¿Tiene CvLAC registrado en Colciencias? -->
        
        <div class="form-group">
            <div class="mb-3">
                <label class="form-label"><strong>¿Tiene CvLAC registrado en Colciencias? *</strong></label>
                {{ form.tiene_cvlac }}
            </div>
        </div>
        <div class="additional-fields" style="display: none;">
            {% if form.cvlac.value %}
                <label for="tematica"><strong>Ingrese su Cvlac *</strong></label>
                {{ form.cvlac }}
            {% else %}
                <label for="tematica"><strong>Ingrese su Cvlac *</strong></label>
                {{ form.cvlac }}
            {% endif %}
        </div>

         <!-- Es docente invesitgador -->
        <div class="form-group"></div>
            <div class="mb-3">
                <label class="form-label"><strong>¿Es Docente Investigador? *</strong></label>
                {{ form.docente_investigador }}
            </div>
        </div>
        <div class="form-group">
            <table id="cursos-table">
                <thead>
                    <tr>
                        <th>Tematica</th>
                        <th>Institución</th>
                        <th>Horas</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.tematica }}</td>
                        <td>{{ form.institucion }}</td>
                        <td>{{ form.horas }}</td>
                        <td>{{ form.fecha }}</td>

                    </tr>
                    <tr>
                        <td>{{ form.tematica_2 }}</td>
                        <td>{{ form.institucion_2 }}</td>
                        <td>{{ form.horas_2 }}</td>
                        <td>{{ form.fecha_2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.tematica_3 }}</td>
                        <td>{{ form.institucion_3 }}</td>
                        <td>{{ form.horas_3 }}</td>
                        <td>{{ form.fecha_3 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="proyectos-fields" style="display: none;">
            <label for="proyectos"><strong>Proyectos de Investigación *</strong></label>
                {% for proyecto in proyectos %}
                    <option value="{{ proyecto.id }}">{{ proyecto.titulo }}</option>
                {% endfor %}
        </div>

        <div class="form-group">
            <div class="mb-3">
                <label class="form-label"><strong>¿Tiene Proyectos abiertos de Investigación?</strong></label>
                {{ form.tiene_proyectos }}
            </div>
        </div>



    </div>
    <button type="submit">Crear Semillero</button>
</form>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- SCRIPT - GRUPOS Y LINEAS DE INVESTIGACION DINAMICAS -->
<script>
    const grupoInvestigacionSelect = document.getElementById('id_grupo_investigacion');
    const lineaInvestigacionSelect = document.getElementById('id_linea_investigacion');

    const opcionesLineasInvestigacion = {
    'Aglalia': [
        'Modelado y simulación',
        'Nuevas tecnologías e inteligencia artificial',
        'Sistemas de información e ingeniería de software'
    ],
    'ProCont': [
        'Contabilidad social y ambiental',
        'Contabilidad y gestión financiera',
        'Estudios fiscales y gestión tributaria'
    ],
    'DehJüs': [
        'Conflictos instituciones jurídicas y nuevas tendencias del derecho privado',
        'Derecho público y justicia',
        'Desarrollo humano salud mental y psicología forense',
        'Genero sociedad y derechos humanos',
    ],
    'TES': [
        'Bilinguismo',
        'Infancia y desarrollo social',
        'Neuropsicologia comportamiento y aprendizaje',
        'Practica pedagógica investigativa',
        'Psicologia educativa y evolutiva',
        'Psicologia social y comunitaria',
    ],
    'GECAES': [
        'Capital social y ambiental',
        'Contabilidad y gestión financiera',
        'Estudios fiscales y gestión tributaria',
    ],
    'Gestion e Innovacion': [
        'Gestión e innovación',
        'Innovación y gestión turística',
    ],
    'IC': [
        'Ciudadanía genero y sociedad',
        'Innovaciones sociales',
    ],
    'LyS': [
        'Derecho y gestión de políticas publicas',
        'Derecho y sociedad',
        'Derecho y sujetos de especial protección constituciona',
    ],
    'Gisela': [
        'Gestión organizacional, desarrollo y sociedad',
        'Competitividad e innovacion en pymes',
    ],
    'LAW': [
        'Mecanismos alternativos de solución de conflictos en particular la mediación interdisciplinaria y la conciliación',
        'Propiedad intelectual',
        'Práctica jurídica',
        'Línea de investigación en educación inclusiva e interdisciplinar y de las nuevas tecnologías',
    ],
    'Business Intelligence': [
        'Comercio y neogcios internacionales',
        'Logistica nacional e internacional',
    ],
    'Americana Emprendedora': [
        'Emprendimiento ecosistemas de emprendimiento e innovación',
        'Emprendimiento de mujeres y comunidades',
    ],
    'PSI Context': [
        'Desarrollo humano y problemáticas sociales',
        'Salud y bienestar',
    ],
    'Engineeri': [
        'Diseño y gestión de Sistemas productivos y logísticos',
        'Innovación y gestión tecnológica',
        'Modelado y simulación',
        'Sistemas integrados de procesos y gestión',
    ],
    'SeHaT': [
        'Emprendimiento e innovación',
        'Salud Ocupacional',
        'Seguridad Industrial',
    ]
    };

    grupoInvestigacionSelect.addEventListener('change', (event) => {
    const selectedOption = event.target.value;
    const lineasInvestigacion = opcionesLineasInvestigacion[selectedOption];
    lineaInvestigacionSelect.innerHTML = '';

    lineasInvestigacion.forEach((linea) => {
        const option = document.createElement('option');
        option.value = linea;
        option.text = linea;
        lineaInvestigacionSelect.appendChild(option);
    });
    });
</script>

<!-- SCRIPT - CvLAC -->
<script>
    const tiene_cvlacSelect = document.querySelector('[name="tiene_cvlac"]');
    const additionalFieldsContainer = document.querySelector('.additional-fields');

    tiene_cvlacSelect.addEventListener('change', () => {
        if (tiene_cvlacSelect.value === 'si') {
            additionalFieldsContainer.style.display = 'block';
        } else {
            additionalFieldsContainer.style.display = 'none';
        }
    });
</script>

<!-- SCRIPT - Docente investigador / Curso formacion en investigacion -->
<script>
    $(document).ready(function() {
        const docenteInvestigadorSelect = document.getElementById('{{ form.docente_investigador.id_for_label }}');
        const cursosTable = document.getElementById('cursos-table');
        const proyectosContainer = $('.proyectos-fields');
        const tieneProyectosSelect = $('#id_tiene_proyectos');

        docenteInvestigadorSelect.addEventListener('change', () => {
            if (docenteInvestigadorSelect.value === 'no') {
                cursosTable.style.display = 'table';
                proyectosContainer.hide();
            } else {
                cursosTable.style.display = 'none';
                proyectosContainer.show();
            }
        });

        // Verificar estado inicial
        if (docenteInvestigadorSelect.value === 'no') {
            cursosTable.style.display = 'table';
        } else {
            cursosTable.style.display = 'none';
        }
        
        if (tieneProyectosSelect.val() === 'si') {
            proyectosContainer.show();
        }
    });
</script>