.icono-semillero {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 5px;
}

.eleven h1 {
    font-size: 35px;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 45px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
}
.eleven h1:before {
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    height: 2px;
    content: "";
    background-color: #777;
    z-index: 4;
}
.eleven h1:after {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    bottom: -60px;
    content: '\00a7';
    font-size: 30px;
    line-height: 40px;
    color: #1300fd;
    font-weight: 400;
    z-index: 5;
    display: block;
    background-color: #f8f8f8;
}
.card-link {
    text-decoration: none;
    color: #000; 
}
.card-link :hover {
    color: #1300fd;
}

.semillero-title{
    font-family: "Playfair Display", serif;
}

/*-------------------------------------------------------------------------------------*/
/* RESPONSIVE */
@media (max-width: 968px) {
    .icono-semillero {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 5px;
    }

    .semillero-title {
        font-size: 14px;
    }

    .eleven h1 {
        font-size: 25px;
    }

    .eleven h1:before {
        bottom: -70px;
    }
    .eleven h1:after {
        bottom: -80px;
    }
}


/*-------------------------------------------------------------------------------------*/