<!-- AdminSemilleros/Admin_semi_menu_opciones.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Breadcrumb -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'css/ADMIN_SEMILLEROS/Breadcrumbs/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/ADMIN_SEMILLEROS/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <title>SeedResearchTool</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-brand" href="{% url 'Users:Admin_Semi_home' %}">
        <img src="{% static 'images/USERS_PROYECTOS/Users_Crear_Proyecto/Proyectos_Logo.png' %}" alt=""
          style="width: 240px; height: 60px;">
      </a>
    </div>
    <ul class="navbar-menu">
      {% if user.is_authenticated and not user.usuario_administrador %}
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'Users:Admin_Semi_home' %}">HOME</a>
      </li>
      <li class="navbar-item dropdown">
        <a class="nav-link" href="#">SEMILLEROS</a>
        <div class="dropdown-content">
          <a class="text-center" href="#">Inscribirse a un Semillero</a>
          <a class="text-center" href="#">Ver Mis Inscripciones</a>
        </div>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-menu ml-auto">
      {% if user.is_authenticated and not user.usuario_administrador %}
      <li class="navbar-item dropdown">
        <a class="nav-link" href="#">PERFIL</a>
        <div class="dropdown-content">
          <a class="text-center" href="#">Ver Perfil</a>
          <a class="text-center" href="#">Editar Perfil</a>
        </div>
      </li>
      <li class="navbar-item ajuste-izquierda">
        <a class="nav-link fa" style="font-size:26px" href="{% url 'Users:Admin_Semi_cerrar_sesion' %}">&#xf011;</a>
      </li>
      {% else %}
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'Users:Admin_Semi_login' %}">INICIAR SESION</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'Users:Admin_Semi_registro_usuario' %}">REGISTRARSE</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <!-- Breadcrumb -->
  <div class="wrapper">
    <ol class="breadcrumbs breadcrumbs--one" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb" href="{% url 'Users:Admin_Semi_home' %}" itemprop="item">
          <span itemprop="name">
            <i class="material-icons" aria-hidden="true">home</i>
            <span>INICIO</span>
          </span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb" href="{% url 'Users:Admin_Semi_home' %}" itemprop="item">
          <span itemprop="name">
            <i class="material-icons" aria-hidden="true">cases</i>
            <span>LISTA DE SEMILLEROS</span>
          </span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb" href="#" itemprop="item">
          <span itemprop="name">
            <i class="material-icons" aria-hidden="true">cases</i>
            <span>OPCIONES</span>
          </span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
    </ol>
  </div>

  <br>
  <br>
  <br>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <br>
    <br>
    <br>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>Semillero</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>¿ Confirmar Aprobacion del Semillero ?</strong>
                <p style="color: red;"><strong>Advertencia: Esta accion no se podra deshacer.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="guardarCambiosBtn" >Confirmar</button>
            </div>
        </div>
    </div>
  </div>


  <div class="container text-center">
    <div class="container-c-p">
      <div class="container-c-p-1">
        <h2> OPCIONES DE SEMILLERO </h2>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container text-center">
    <div class="container-c-p">
      <div class="container-c-p-1">
        <h3>Aprobacion</h3>
        <p>Nombre del semillero: {{ semillero.nombre_semillero }}</p>
        <p>Nombre del usuario: {{ semillero.nombre }}</p>

        {% if semillero.aprobacion %}
          <p>Estado: <span style="color: green;">Aprobado</span></p>
        {% else %}
          <p>Estado: <span style="color: orange;">Pendiente</span></p>
        {% endif %}

        <form method="post" action="{% url 'Semilleros:aprobar_semillero' semillero.id %}" id="editarPerfilForm">
          {% csrf_token %}
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Aprobar</button>
        </form>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container text-center">
    <div class="container-c-p">
      <div class="container-c-p-1">
        <h3>Detalles del Semillero</h3>

        <div class="container-title">
          <hr>
          <h2 class="centered-title">INFORMACIÓN GENERAL DEL SEMILLERO</h2>
          <hr>
        </div>
    
        <div class="container-g-l-1">
          <p><strong>Nombre Semillero:</strong> {{ semillero.nombre_semillero }}</p>
          <p><strong>Fecha Inscripcion:</strong> {{ semillero.fecha_inscripcion }}</p>
          <p><strong>Facultad:</strong> {{ semillero.facultad }}</p>
          <p><strong>Programa:</strong> {{ semillero.programa }}</p>
          <p><strong>Grupo De Investigacion:</strong> {{ semillero.grupo_investigacion }}</p>
          <p><strong>Linea De Investigacion:</strong> {{ semillero.linea_investigacion }}</p>
          <p><strong>Tematica:</strong> {{ semillero.tematica_estudio }}</p>
          <p><strong>Justificación:</strong> {{ semillero.justificacion_semillero }}</p>
        </div>
    
        <hr>
        <div class="container-title">
          <h2 class="centered-title">COORDINADOR DEL SEMILLERO</h2>
        </div>
        <hr>
    
        <div class="container-g-l-1">
          <p><strong>Nombre:</strong> {{ semillero.nombre }}</p>
          <p><strong>Identificacion:</strong> {{ semillero.identificacion }}</p>
          <p><strong>Lugar Expedicion:</strong> {{ semillero.lugar_expedicion }}</p>
          <p><strong>Fecha Nacimiento:</strong> {{ semillero.fecha_nacimiento }}</p>
          <p><strong>Lugar Nacimiento:</strong> {{ semillero.lugar_nacimiento }}</p>
          <p><strong>Direccion Residencia:</strong> {{ semillero.direccion }}</p>
          <p><strong>Telefono:</strong> {{ semillero.telefono }}</p>
          <p><strong>Correo:</strong> {{ semillero.correo }}</p>
          <p><strong>CvLAC:</strong> {{ semillero.cvlac }}</p>
          <p><strong>Nivel De Formacion:</strong> {{ semillero.nivel_formacion }}</p>
          <h3 class="centered-title">Nivel De Ingles</h3>
          <p><strong>Habla:</strong> {{ semillero.nivel_ingles_habla }}</p>
          <p><strong>Lee:</strong> {{ semillero.nivel_ingles_lee }}</p>
          <p><strong>Entiende:</strong> {{ semillero.nivel_ingles_entiende }}</p>
          <p><strong>Escribe:</strong> {{ semillero.nivel_ingles_escribe }}</p>
          <br>
        </div>
    
        <div class="container-title">
          <hr>
          <h2 class="centered-title">CURSOS DE FORMACIÓN EN INVESTIGACIÓN</h2>
          <hr>
        </div>
    
        <div class="container-g-l-1">
          <p><strong>Docente Investigador:</strong> {{ semillero.docente_investigador }}</p>
          {% if semillero.docente_investigador == 'si' %}
          <div class="container-title">
            <p class="centered-title"><strong>Proyectos De investigacion:</strong></p>
          </div>
          {% for proyecto in proyectos_docente %}
          <li>{{ proyecto.titulo }}</li>
          {% endfor %}
          {% else %}
          {% if semillero.docente_investigador == 'no' %}
          <div class="container-title">
            <p class="centered-title"><strong>Cursos registrados</strong></p>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Tematica</th>
                <th>Institución</th>
                <th>Horas</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ semillero.tematica }}</td>
                <td>{{ semillero.institucion }}</td>
                <td>{{ semillero.horas }}</td>
                <td>{{ semillero.fecha }}</td>
              </tr>
              <tr>
                <td>{{ semillero.tematica_2 }}</td>
                <td>{{ semillero.institucion_2 }}</td>
                <td>{{ semillero.horas_2 }}</td>
                <td>{{ semillero.fecha_2 }}</td>
              </tr>
              <tr>
                <td>{{ semillero.tematica_3 }}</td>
                <td>{{ semillero.institucion_3 }}</td>
                <td>{{ semillero.horas_3 }}</td>
                <td>{{ semillero.fecha_3 }}</td>
              </tr>
            </tbody>
          </table>
          {% endif %}
          {% endif %}
        </div>
    
        <br>
    
        <div class="container-g-l-1">
          <p><strong>Proyectos de Investigacion Abiertos:</strong> {{ semillero.tiene_proyectos }}</p>
          {% if semillero.tiene_proyectos == 'si' %}
          <table class="table">
            <thead>
              <tr>
                <th>Nombre Proyecto</th>
                <th>Institucion</th>
                <th>Tipo Vinculacion</th>
                <th>Año</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ semillero.Se_nombre_proyecto }}</td>
                <td>{{ semillero.Se_institucion }}</td>
                <td>{{ semillero.Se_tipo_vinculacion }}</td>
                <td>{{ semillero.Se_fecha }}</td>
              </tr>
              <tr>
                <td>{{ semillero.Se_nombre_proyecto_2 }}</td>
                <td>{{ semillero.Se_institucion_2 }}</td>
                <td>{{ semillero.Se_tipo_vinculacion_2 }}</td>
                <td>{{ semillero.Se_fecha_2 }}</td>
              </tr>
              <tr>
                <td>{{ semillero.Se_nombre_proyecto_3 }}</td>
                <td>{{ semillero.Se_institucion_3 }}</td>
                <td>{{ semillero.Se_tipo_vinculacion_3 }}</td>
                <td>{{ semillero.Se_fecha_3 }}</td>
              </tr>
            </tbody>
          </table>
          {% endif %}
    
        </div>
    
        <br>
    
        <div class="container-title">
          <hr>
          <h2 class="centered-title">ACTIVIDADES INTER E INTRA INSTITUCIONALES</h2>
          <hr>
        </div>
        <div class="container-g-l-1">
          <p><strong>Participa en Comité o Grupo de Trabajo:</strong> {{ semillero.actividades }}</p>
          {% if semillero.actividades == 'si' %}
          <div class="form-group">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre Grupo / Comite</th>
                  <th>Actividad O Tematica</th>
                  <th>Tipo De Vinculacion (Rol)</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ semillero.nombre_grupo }}</td>
                  <td>{{ semillero.actividad_tema }}</td>
                  <td>{{ semillero.tipo_vinculacion }}</td>
                  <td>{{ semillero.fecha_actividad }}</td>
                </tr>
                <tr>
                  <td>{{ semillero.nombre_grupo_2 }}</td>
                  <td>{{ semillero.actividad_tema_2 }}</td>
                  <td>{{ semillero.tipo_vinculacion_2 }}</td>
                  <td>{{ semillero.fecha_actividad_2 }}</td>
                </tr>
                <tr>
                  <td>{{ semillero.nombre_grupo_3 }}</td>
                  <td>{{ semillero.actividad_tema_3 }}</td>
                  <td>{{ semillero.tipo_vinculacion_3 }}</td>
                  <td>{{ semillero.fecha_actividad_3 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
    
        <br>
        <br>
    
        <div class="container-title">
          <hr>
          <h2 class="centered-title">ESTUDIANTES INSCRITOS</h2>
          <hr>
        </div>
    
        <div class="container-g-l-1"> 
          <table class="table text-center">
            <thead>
              <tr>
                <th>Estudiante</th>
                <th>AVAL</th>
              </tr>
            </thead>
            <tbody>
              {% for estudiante in estudiantes_inscritos %}
                <tr>
                  {% if estudiante.estado_e %}
                    <td>{{ estudiante.nombre_e }}</td>
                  {% endif %}
                  <td>
                    <form method="post" action="{% url 'Semilleros:generar_aval_admin_semi' semillero.id estudiante.id %}">
                      {% csrf_token %}
                        {% if estudiante.estado_e %}
                        <button type="submit" class="btn btn-primary">Ver Aval</button>
                        {% endif %}
                    </form>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="2">Ningún estudiante inscrito.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


 
  <!-- SCRIPT - Modal Confirmacion -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const guardarCambiosBtn = document.getElementById("guardarCambiosBtn");
        const editarPerfilForm = document.getElementById("editarPerfilForm");

        guardarCambiosBtn.addEventListener("click", function () {
            if (editarPerfilForm.reportValidity()) {
                const formData = new FormData(editarPerfilForm);
                fetch("{% url 'Semilleros:aprobar_semillero' semillero.id %}", {
                    method: "POST",
                    body: formData
                })
                .then(data => {
                    console.log(data);
                    const modal = new bootstrap.Modal(document.getElementById("exampleModal"));
                    modal.hide();
                    window.location.href = "{% url 'Semilleros:detalle_semillero_admin' semillero.id %}";
                })
                .catch(error => {
                    console.error("Error al enviar los datos:", error);
                });
            }
        });
    });
  </script>

</body>
</html>
