<!-- INFORMES -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Breadcrumb -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'css/ADMIN_SEMILLEROS/Breadcrumbs/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/ADMIN_SEMILLEROS/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <title>SeedResearchTool</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-brand" href="{% url 'Users:Admin_Semi_home' %}">
        <img src="{% static 'images/USERS_PROYECTOS/Users_Crear_Proyecto/Proyectos_Logo.png' %}" alt=""
          style="width: 240px; height: 60px;">
      </a>
    </div>
    <ul class="navbar-menu">
      {% if user.is_authenticated and not user.usuario_administrador %}
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'Users:Admin_Semi_home' %}">HOME</a>
      </li>
      <li class="navbar-item dropdown">
        <a class="nav-link" href="#">SEMILLEROS</a>
        <div class="dropdown-content">
          <a class="text-center" href="#">Inscribirse a un Semillero</a>
          <a class="text-center" href="#">Ver Mis Inscripciones</a>
        </div>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-menu ml-auto">
      {% if user.is_authenticated and not user.usuario_administrador %}
      <li class="navbar-item dropdown">
        <a class="nav-link" href="#">PERFIL</a>
        <div class="dropdown-content">
          <a class="text-center" href="#">Ver Perfil</a>
          <a class="text-center" href="#">Editar Perfil</a>
        </div>
      </li>
      <li class="navbar-item ajuste-izquierda">
        <a class="nav-link fa" style="font-size:26px" href="{% url 'Users:Admin_Semi_cerrar_sesion' %}">&#xf011;</a>
      </li>
      {% else %}
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'Users:Admin_Semi_login' %}">INICIAR SESION</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'Users:Admin_Semi_registro_usuario' %}">REGISTRARSE</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <!-- Breadcrumb -->
  <div class="wrapper">
    <ol class="breadcrumbs breadcrumbs--one" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb" href="{% url 'Users:Admin_Semi_home' %}" itemprop="item">
          <span itemprop="name">
            <i class="material-icons" aria-hidden="true">home</i>
            <span>INICIO</span>
          </span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb" href="{% url 'Semilleros:informes_semi' %}" itemprop="item">
          <span itemprop="name">
            <i class="material-icons" aria-hidden="true">summarize</i>
            <span>INFORMES</span>
          </span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
  

    {% if user.is_authenticated  and user.usuario_administrador or user.usuario_admin_semi %}

    <br>
    <h1 class="display-7 text-center">GESTION DE INFORMES</h1>
    <p class="text-center">Genera y consulta los infores de los semilleros de investigacion</p>

    <div class="container">
      <div class="container-c-p">
        <div class="container-c-p-1">
          <a href="{% url 'Semilleros:informes_facultad' %}" style="font-size: 25px;">Facultad</a>
          <br>
          <a href="#" style="font-size: 25px;">Programa</a>
          <br>
          <a href="#" style="font-size: 25px;">Semillero</a>
        </div>
      </div>
    </div>

    {% else %}
    <br>
    <br>
    <br>
    <div class="alert alert-danger text-center" role="alert">
        <h5>No tienes permisos para acceder a esta página.</p>
        {% if user.is_authenticated %}
            <a href="{% url 'Users:Users_home' %}" class="btn btn-primary">Ir al Portal de Docente Investigador</a>
        {% endif %}
        <a href="{% url 'Pagina_Principal' %}" class="btn btn-primary">Página Principal</a>
    </div>
    {% endif %}


</body>
</html>