<!-- Users_ver_perfil.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Breadcrumb -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/USERS/Breadcrumbs/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/USERS/Users_Perfil/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>SeedResearchTool</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-brand" href="{% url 'Users:Users_home' %}">
                <img src="{% static 'images/USERS/Users_Login/Login_Logo.png' %}" alt="" style="width: 240px; height: 60px;">
            </a>
        </div>
        <ul class="navbar-menu">
            {% if user.is_authenticated and not user.usuario_administrador %}
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Users:Users_home' %}">HOME</a>
            </li>
            <li class="navbar-item dropdown">
                <a class="nav-link" href="#">PROYECTOS</a>
                <div class="dropdown-content">
                    <a class="text-center" href="{% url 'Proyectos:crear_proyecto' %}">Crear Proyecto</a>
                    <a class="text-center" href="{% url 'Proyectos:lista_proyectos' %}">Lista de Proyectos</a>
                </div>
            </li>
            <li class="navbar-item dropdown">
                <a class="nav-link" href="#">SEMILLEROS</a>
                <div class="dropdown-content">
                    <a class="text-center" href="{% url 'Semilleros:crear_semillero' %}">Crear Semillero</a>
                    <a class="text-center" href="{% url 'Semilleros:lista_semilleros' %}">Lista de Semilleros</a>
                </div>
            </li>
            {% endif %}
        </ul>

        <ul class="navbar-menu ml-auto">
            {% if user.is_authenticated and not user.usuario_administrador %}
            <li class="navbar-item dropdown">
                <a class="nav-link" href="#">GRUPOS INVESTIGACION</a>
                <div class="dropdown-content">
                    <a class="text-center" href="{% url 'Users:Users_ver_grupos' %}">Ver Grupos</a>
                    <a class="text-center" href="{% url 'Users:Users_editar_grupos_investigacion' %}">Editar Grupos</a>
                </div>
            </li>
            <li class="navbar-item dropdown">
                <a class="nav-link" href="#">PERFIL</a>
                <div class="dropdown-content">
                    <a class="text-center" href="{% url 'Users:Users_ver_perfil' %}">Ver Perfil</a>
                    <a class="text-center" href="{% url 'Users:Users_editar_perfil' %}">Editar Perfil</a>
                </div>
            </li>
            <li class="navbar-item ajuste-izquierda">                
                <a class="nav-link fa" style="font-size:26px" href="{% url 'Users:logout' %}">&#xf011;</a>
            </li>
            {% else %}
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'Users:Users_login' %}">INICIAR SESION</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link"
                    href="{% url 'Users:Users_consultar_identificacion' %}">REGISTRARSE</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Breadcrumb -->
    <div class="wrapper">
        <ol class="breadcrumbs breadcrumbs--one" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumb" href="{% url 'Users:Users_home' %}" itemprop="item">
                <span itemprop="name">
                <i class="material-icons" aria-hidden="true">home</i>
                <span>INICIO</span>
                </span>
            </a>
            <meta itemprop="position" content="1" />
            </li>

            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumb" href="{% url 'Users:Users_ver_perfil' %}" itemprop="item">
                <span itemprop="name">
                <i class="material-icons" aria-hidden="true">person</i>
                <span>PERFIL</span>
                </span>
            </a>
            <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>

    <div class="container-fluid content-container">
        <br>
        <br>
        <br>
        <br>

        <div class="text-center">
            <h1>INFORMACION DEL INVESTIGADOR</h1>
        </div>
          
        <br>
        <br>
        <hr>
        <div class="container-g-l">
            <p class="button-container">
                <strong><a href="{% url 'Users:Users_editar_perfil' %}" class="btn btn-primary">Editar Perfil</a></strong>
                <br>
            </p>
            <div class="container-g-l-1">
                <h2><strong>{{ usuario.nombre }}</strong></h2>
                <h2><strong>{{ usuario.identificacion }}</strong></h2>
                <br>
                <span class="custom-text-info"><strong>Facultad:</strong> {{ facultad_personalizada }}</span>
                <span class="custom-text-info"><strong>Programa:</strong> {{ usuario.Programa }}</span>
                <br>
                <span class="custom-text-info"><strong>Categoría:</strong> {{ usuario.categoria }}</span>
                <span class="custom-text-info"><strong>Correo:</strong> {{ usuario.correo }}</span>
                <span class="custom-text-info"><strong>Teléfono:</strong> {{ usuario.telefono }}</span>
                <br>
                <span class="custom-text-info"><strong>Cvlac:</strong> {{ usuario.cvlac }}</span>
                <span class="custom-text-info"><strong>Orcid:</strong> {{ usuario.orcid }}</span>
                <span class="custom-text-info"><strong>Google Scholar:</strong> {{ usuario.google_scholar }}</span> 
            </div>
            
            <br>
        </div>


        <br>
        <div class="container-g-l">
            <p class="button-container">
                <strong><a href="{% url 'Users:Users_ver_grupos' %}" class="btn btn-primary">Editar Grupos</a></strong>
                <br>
            </p>

            <div class="container-g-l-1">
                <p class="custom-text-G"><strong>Grupo de Investigación:</strong>
                    {{ usuario.grupo_investigacion }}
                </p>
                <p class="custom-text-L"><strong>Líneas de Investigación:</strong>
                    {% for linea in usuario.lineas_investigacion.all %}
                        <span class="custom-text-L-1">{{ linea.nombre }}.</span>
                    {% endfor %}
                </p>
            </div>

            {% if usuario.grupo_investigacion_2 %}
            <div class="container-g-l-1">
                <p class="custom-text-G"><strong>Grupo de Investigación</strong>
                    {{ usuario.grupo_investigacion_2 }}
                </p>
                <p class="custom-text-L"><strong>Líneas de Investigación:</strong>
                    {% for linea in usuario.lineas_investigacion_2.all %}
                        <span class="custom-text-L-1">{{ linea.nombre }}.</span>
                    {% endfor %}
                </p>
            </div>
            {% endif %}

            {% if usuario.grupo_investigacion_3 %}
            <div class="container-g-l-1">
                <p class="custom-text-G"><strong>Grupo de Investigación:</strong>
                    {{ usuario.grupo_investigacion_3 }}
                </p>
                <p class="custom-text-L"><strong>Líneas de Investigación:</strong>
                    {% for linea in usuario.lineas_investigacion_3.all %}
                        <span class="custom-text-L-1">{{ linea.nombre }}.</span>
                    {% endfor %}
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    
</body>

</html>